<h2>Sign up</h2>

<%= simple_form_for @user do |f| %>
  
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :avatar %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  
  <%= f.button :submit, "Sign up" %>

<% end %>