<%= form_for @review do |f| %>
  
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  
  <p>
    <%= f.label :score %>
    <%= f.number_field :score %>
  </p>
  
  <%= f.submit "Save review" %>

<% end %>