<% content_for :page_title, "Homepage" %>

<nav class="filters">
  <%= link_to "All restaurants", root_path %>
  <%= link_to "$", root_path(price: 1, cuisine: @cuisine) %>
  <%= link_to "$$", root_path(price: 2, cuisine: @cuisine) %>
  <%= link_to "$$$", root_path(price: 3, cuisine: @cuisine) %>
  
  <%= link_to "Indian", root_path(cuisine: "Indian", price: @price) %>
  <%= link_to "Mexican", root_path(cuisine: "Mexican", price: @price) %>
  <%= link_to "American", root_path(cuisine: "American", price: @price) %>
</nav>

<% @reviews.each do |review| %>
  <div class="review">
    <%= link_to review.title, review_path(review) %>
  </div>
<% end %>

