<% content_for :page_title, "Homepage" %>

<nav class="filters">
  <%= active_link_to "All restaurants", root_path, active: { price: nil, cuisine: nil, location: nil } %>
  
  <div>
    <%= active_link_to "$", root_path(price: 1, cuisine: @cuisine, location: @location), active: { price: 1 } %>
    <%= active_link_to "$$", root_path(price: 2, cuisine: @cuisine, location: @location), active: { price: 2 } %>
    <%= active_link_to "$$$", root_path(price: 3, cuisine: @cuisine, location: @location), active: { price: 3 } %>
  </div>
  
  <div>
    <%= active_link_to "Indian", root_path(cuisine: "Indian", price: @price, location: @location), active: { cuisine: "Indian" } %>
    <%= active_link_to "Mexican", root_path(cuisine: "Mexican", price: @price, location: @location), active: { cuisine: "Mexican" } %>
    <%= active_link_to "American", root_path(cuisine: "American", price: @price, location: @location), active: { cuisine: "American" } %>
  </div>
  
  <form action="/">
    <input type="text" name="location" 
        placeholder="Search location..." value="<%= @location %>">
        
    <input type="hidden" name="price" value="<%= @price %>">    
    <input type="hidden" name="cuisine" value="<%= @cuisine %>">
  </form>
  
</nav>




<% @reviews.each do |review| %>
  <div class="review">
    <%= link_to review_path(review) do %>
    
      <%= image_tag review.photo.thumb %>
      
      <h2><%= review.title %></h2>
      <p>
        <%= review.cuisine %> – 
        <%= pluralize review.comments.count, "comment" %>
      </p>
      
      
    <% end %>
  </div>
<% end %>









