<h1><%= @review.title %></h1>

<div class="score">
  <%= @review.score %> / 10
</div>

<div class="body">
  <%= simple_format @review.body %>
</div>

<div class="actions">
  <%= link_to "Edit this review", edit_review_path(@review) %>
  <%= link_to "Delete this review", review_path(@review), method: :delete, data: { confirm: "Are you sure??" } %>
</div>