<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :page_title %> – Bien Reviews – the best restaurants in the world</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <h1>
          <%= link_to root_path do %>
            <%= image_tag "bien-logo.svg" %>
          <% end %>
        </h1>        
      </nav>
      <nav>
        <% if session[:user_id].present? %>
        
          <%= link_to "Add a review", new_review_path %>
          <%= link_to "Log out", session_path, method: :delete %>
          
        <% else %>
        
          <%= link_to "Sign up", new_user_path %>
          <%= link_to "Log in", new_session_path %>
        
        <% end %>
        
      </nav>
    </header>    
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
      Copyright 2017 Bien Reviews
    </footer>
  </body>
</html>
